<p id="notice"><%= notice %></p>

<div class="row">
    <div class="thumbnail">
      <%= image_tag @post.image.url if @post.image? %>
      <div class="caption">
        <h4><%= @post.title %></h4>
        <p>Made by: <%= link_to @post.user.name, user_path(@post.user) %></p>
      </div>
    </div>
</div>
<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<div id="comment-section">
  <ol id="comments">
    <%= render @post.comments %>
  </ol>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>